 <form action="{% url 'payments:addBook' %}" method="POST">
    <div class="form-group">
        {% csrf_token %}
        <label for="quantityValue">Quantity</label>
        <input class="form-control" type="number" name="quantity" id="quantityValue" min="1" value="1" max="{{ book.quantity }}">
        <input type="hidden" name="bookId" value="{{ book.id }}">
        <input type="hidden" name="price" value="{{ book.price }}">
        <input type="hidden" name="next" value="{{ request.path }}">
    </div>
    <div style="padding:12px">
        <button type="submit" class="btn btn-md btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add to Cart
        </button>
    </div>
 </form>
