 <form action="{% url 'payments:addBook' %}" method="POST">
    <div class="form-group">
        {% csrf_token %}
        <label for="quantityValue">Quantity </label>
        <input type="number" name="quantity" id="quantityValue" style="width:50px;">
        <input type="hidden" name="bookId" value="{{ book.id }}">
        <input type="hidden" name="price" value="{{ book.price }}">
        <input type="hidden" name="next" value="{{ request.path }}">
    </div>
    <div style="padding:12px">
        <button type="submit" class="btn btn-md btn-primary">Add to Cart</button>
    </div>
 </form>