{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %}Shopping Cart {% endblock %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


<div class="container">

    <p style="padding:10px"></p>
    {% if not order_items %}
        <h2>Shopping Cart is Empty</h2>
    {% else %}
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <h2>Shopping Cart</h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-sm-push-1">
                <h2>Order Summary</h2>
            </div>
        </div>
        <p style="padding:10px"></p>
        <div class="row">
            <div class="col-xs-8 col-sm-8">
            {% for order_item in order_items %}
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <img src="{% static order_item.book.cover_file_name %}" height="170" width="180">
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <p class="fieldSizeFont">{{ order_item.book.title }}</p>
                        <p class="fieldSizeFont">Item # {{ order_item.book_id }}</p>

                        <!-- update quantity of book order item -->
                        <form action="{% url 'payments:updateShoppingCart' %}" method="POST">
                            <div class="form-group">
                                {% csrf_token %}
                                <label class="fieldSizeFont" for="quantityValue">Quantity</label>
                                <input class="form-control" type="number" name="quantity" id="quantityValue" style="width:50px;" value="{{ order_item.quantity }}" min="1" max="{{ order_item.book.quantity }}">
                                <input type="hidden" name="order_item_id" value="{{ order_item.id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </div>
                                <button type="submit" class="btn btn-sm btn-primary">Update Cart</button>
                         </form>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-sm-push-2">
                        <p class="fieldSizeFont">${{ order_item.book.price }}</p>
                        <p style="padding:10px;"></p>

                        <!-- remove book from order -->
                        <form action="{% url 'payments:deleteBook' %}" method="GET">
                            <input type="hidden" value="{{ order_item.id }}" name="order_item_id">
                            <input type="submit" class="btn btn-danger btn-sm" value="Remove">
                            <input type="hidden" name="next" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-4 col-sm-4">
                        <p class="fieldSizeFont">ITEM(S) TOTAL</p>
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                     <div class="col-xs-2 col-sm-2 col-sm-push-2">
                        <p class="fieldSizeFont">${{ order_item.book_price_quantity }}</p>
                    </div>
                </div>
                <p style="padding:25px"></p>
            {% endfor %}
            </div>
            {% for cart in shopping_cart %}

                <!-- display the total price of the order -->
                <div class="col-xs-4 col-sm-3 col-sm-push-1">
                    <p class="fieldSizeFont">Order Subtotal ${{ cart.price }} </p>
                    <p class="fieldSizeFont">Taxes ${{ cart.tax_price }}</p>
                    <hr>
                    <p class="fieldSizeFont">Total Price ${{ cart.total_price }}</p>
                </div>
            {% endfor %}

        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <h2>Future Order</h2>
                <p style="padding:10px"></p>
                {% for future_order_item in future_order_items %}
                    <div class="row">
                        <div class="col-xs-4 col-sm-4">
                            <img src="{% static future_order_item.book.cover_file_name %}" height="170" width="180">
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <p class="fieldSizeFont">{{ future_order_item.book.title }}</p>
                            <p class="fieldSizeFont">Item # {{ future_order_item.book.id }}</p>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-sm-push-2">
                            <p class="fieldSizeFont">${{ future_order_item.book.price }}</p>
                        </div>
                        <div class="col-xs-8 col-sm-8">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="{% url 'payments:moveFutureBookToCart' future_order_item.book.id %}">
                                        <button class="btn btn-sm btn-primary">Move to Shopping Cart</button></a>
                                </div>
                                <div class="col-sm-2 col-sm-push-4 ">
                                    <a href="{% url 'payments:deleteFutureBook' future_order_item.book.id %}">
                                        <button class="btn btn-sm btn-danger">Remove</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <hr>
                {% endfor %}
            </div>
        </div>

        </div>

    {% endif %}
    <p style="padding:25px"></p>

</div>
{% endblock %}
