{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %} {{ book.title }} {% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1>{{ book.title }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3 col-sm-push-1">
            <a href="#" id="pop">
                <img id="imageResource" src="{% static  book.cover_file_name  %}" class="img-responsive img-rounded" height="300" width="300" style="cursor:zoom-in;">
            </a>
        </div>
        <div class="col-xs-3 col-sm-3 col-sm-push-2" style="border-right:1px solid white; height:310px;">
            <h3>by {{ book.author.first_name }} {{book.author.last_name }}</h3>
            <h3>
                {% if book.rating >= 4 %}
                    <span class="label label-success">Rating:  {{ book.rating }}</span>
                {% elif 2 < book.rating < 4 %}
                    <span class="label label-warning">Rating:  {{ book.rating }}</span>
                {% else %}
                    <span class="label label-danger">Rating:  {{ book.rating }}</span>
                {% endif %}
            </h3>

        </div>
        <div class="col-xs-3 col-sm-2 col-sm-push-3"  >
            <h3>Paperback</h3>
            <h3>${{ book.price }}</h3>
            <h3>In stock: {{ book.quantity }}</h3>
            <p style="padding:5px;"></p>
            {% include 'payments/quantityForm.html' %}

            <form method="POST" action="{% url 'payments:addFutureBookOrder' %}">{% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <input type="hidden" name="next" value="{{ request.path }}">
                <div style="padding:12px">
                    <button class="btn btn-md btn-primary">Add to Future Order</button>
                </div>
            </form>

        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-push-1" style="text-align:center" >
            <h2>Description</h2>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-4 col-sm-push-4 ">
            <p>{{ book.description }}</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-push-1">
            <h2 style="text-align:center">Publishing Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-push-4">
            <table style="table-layout:fixed; width:450px;">
                <tr>
                    <td>Publisher</td>
                    <td>{{ book.publisher }}</td>
                </tr>
                <tr>
                    <td>Release Date</td>
                    <td>{{ book.release_date }}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-push-1" style="text-align:center">
            <h2>Author Biography</h2>
        </div>
    </div>

    <div class="row">
        <div class=" col-sm-4 col-sm-push-4 ">
            <p>{{ book.author.bio }}</p>
            <p style="padding:10px"></p>
            {% if book_by_author|length > 1 %}
                <a href="{% url 'products:bookByAuthor' book.author.id %}" style="color:gray;">More Books by
                    {{ book.author.first_name }} {{book.author.last_name }}</a>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
                    <h2>Customer Reviews</h2>
                </div>
                <div class="col-md-9">
                    <h2>
                        <a class="btn btn-md btn-success" data-toggle="modal" data-target="#modalReview">
                            Write Review
                            <span class="glyphicon glyphicon-comment"></span>
                        </a>
                    </h2>
                </div>
            </div>

            <br></br>

            <!-- Review Form Modal -->
            <div class="modal fade" id="modalReview" role="dialog">
               <div class="modal-dialog">
                   <div class="modal-content">
                        {% include 'products/bookReview.html' %}
                   </div>
               </div>
            </div>
            {% for review in reviews %}
            <div class="well">
                <div class="row">
                    <h2>
                        {{ review.review_header }}
                        {% if review.user_rating >= 4 %}
                            <span class="label label-success">Rating:  {{ review.user_rating }}</span>
                        {% elif 2 < review.user_rating < 4 %}
                            <span class="label label-warning">Rating:  {{ review.user_rating }}</span>
                        {% else %}
                            <span class="label label-danger">Rating:  {{ review.user_rating }}</span>
                        {% endif %}
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>
                            {% if review.anonymous is True %}
                                By Anonymous
                            {% else %}
                                By {{review.user.nickname}}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4>
                            on {{review.published_date}}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <p>{{review.review_body}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade " id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <img src="" id="imagepreview" class="center-block">
            </div>
          </div>
        </div>
    </div>


    <p style="padding:25px"></p>
</div>


{% endblock %}

{% block javascript_code %}
<script>
    $('#pop').on('click',function(){
        $('#imagepreview').attr('src', $('#imageResource').attr('src'));
        $('#imageModal').modal('show');
    });

</script>
{% endblock %}
